.Topspace{
    margin: -12px -9px 0px -10px;
}

.lblCareSetting_space{
    margin:0px -10px 9px -11px;
}

.ellStatus_space{
   margin-left: 64px;
}

.Button_height{
    margin-top: 3px;
}

.Issuedetails_topspace{
    padding-top: 7px;
}
