<kendo-gridlayout GridLayout #LayoutRootTempRef [Name]="LayoutRoot" Background="{StaticResource LzoPageBG}"
    [rows]="[ { height:50}, { height: 'auto'},{ height:30},{ height:15},{ height:130},{ height:15},{ height:130} ]" [cols]="[ {width:650} ]" Margin="-17">
    <kendo-gridlayout-item [row]='1' [col]='1'>
        <div containerStyle>
            <StackPanel Orientation="Horizontal" Width="615" HorizontalAlignment="Left">

                <kendo-gridlayout-item [row]='1' [col]='1'>
                    <div containerStyle>
                        <iLabel #lblDrugNameTempRef Name="lblDrugName" FontWeight="Bold" IsWordwrap="True" Height="Auto"
                            HorizontalAlignment="Stretch" VerticalAlignment="Center" Margin="10,0,10,0" MaxWidth="650">
                        </iLabel>
                    </div>
                </kendo-gridlayout-item>
                <kendo-gridlayout-item [row]='1' [col]="1">
                    <ng-container>
                    <div containerStyle>
                        <!-- {{ IPPMABaseVMData.oItemVM.FormViewerDetails.BasicDetails.NoteIconSource | json }} -->
                        <iImage #R_NameTempRef Name="R_Name" Width="16" Height="16"
                            [Source]= "RNameSource"
                            isToolTip="True"
                            [(Visibility)]="RNameVisibility"
                            [ToolTip]="RNameToolTip">
                        </iImage>
                    </div>
                </ng-container>
                </kendo-gridlayout-item>
            </StackPanel>
        </div>
    </kendo-gridlayout-item>

    <kendo-gridlayout-item [row]='2' [col]='1'>
        <div containerStyle>
            <ContentPresenter #spGPItemDetailTempRef Name="spGPItemDetail"
                [Content]="DataContext | GPConnectItemDisplay : '' : 0">
            </ContentPresenter>
        </div>
    </kendo-gridlayout-item>

    <kendo-gridlayout-item [row]='3' [col]='1'>
        <div name="grdDrugPrescriptionPackOptionSubGrid">
            <kendo-gridlayout GridLayout [cols]="[{ width: '1fr'},{ width: '1fr'}]">
                <kendo-gridlayout-item [col]='1' [row]='1' [width]='308'>
                    <div containerStyle>
                        <iLabel Margin="10,10,10,0" Height="21" HorizontalAlignment="Stretch"
                            [Text]="objResMedDrugPrescriptionPackOption.pleaseselectoneoftheseoptions">
                        </iLabel>
                    </div>
                </kendo-gridlayout-item>

                <kendo-gridlayout-item [col]='2' [row]='1' [width]='305'>
                    <div containerStyle style="padding-right: 10px;">
                        <iCheckBox #chkInclNonForTempRef Name="chkInclNonFor" Height="15"
                            Text="Include non-formulary items" Align="Right" Width="auto"
                            [Tooltip]="objResMedAlternateOption.nonFormularyitem"
                            [(IsChecked)]="IPPMABaseVMData?.PackOptionItem.IsFormularyCheckedProductOptions"
                            [Checked]="chkInclNonFor_Checked" [Unchecked]="chkInclNonFor_Checked"
                            HorizontalAlignment="Right" Margin="5,5,0,5">
                        </iCheckBox>
                    </div>
                </kendo-gridlayout-item>
            </kendo-gridlayout>
        </div>
    </kendo-gridlayout-item>

    <kendo-gridlayout-item [row]='4' [col]='1'>
        <div containerStyle>
            <iLabel Margin="10,0,10,0" Height="15" [Text]="objResMedDrugPrescriptionPackOption.medicationitems"
                FontWeight="Bold" HorizontalAlignment="Stretch" VerticalAlignment="Center">
            </iLabel>
        </div>
    </kendo-gridlayout-item>

    <kendo-gridlayout-item [row]='5' [col]='1' [width]='615'>
        <div class="dropdown-button">
            <kendo-grid #grdRelatedTempRef [GridProperties]="grdRelated" Margin='10' VerticalAlignment="Stretch"
                HorizontalAlignment="Stretch" [selectable]="{ checkboxOnly: false, mode: 'single' }"
                [(selectedKeys)]="grdRelated.selectedRowsIndex" [reorderable]="false"
                [data]="grdRelated.ItemsSource.array" 
                (selectionChange)="grdRelated.selectionChange($event)"
                (cellClick)="grdRelated.cellClick($event)"
                (keyup)="grdRelated.GridSelectionKeyUp($event)"
                (keydown)="grdRelated.GridSelectionKeyDown($event)"
                 kendoGridSelectBy tabindex="1" [height]="110"
                 scrollable="scrollable">
                
                <ng-template kendoGridNoRecordsTemplate>There are no records to show</ng-template>

                <kendo-grid-column *ngIf="grdRelated.RowIndicatorVisibility == 0 ? true : false"
                    UniqueName="rowindicator" field="rowindicator" title="" [width]="20">
                    <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
                        <Image *ngIf="grdRelated.selectedRowsIndex.length > 0 ? grdRelated.selectedRowsIndex == 
                                       rowIndex : false" Source="assets/images/iarrownor5x10.png" style="margin-left: 4px;">
                        </Image>
                    </ng-template>
                </kendo-grid-column>

                <!-- [width]='1fr'-->
                <kendo-grid-column UniqueName="PrescriptionItem"
                    [title]="objResMedDrugPrescriptionPackOption.medicationitemname" [filterable]="false"
                    [sortable]="true" [resizable]="false" [editable]="false" field="IdentifyingName">
                    <ng-template kendoGridHeaderTemplate>
                        <span kendoTooltip title="{{ objResMedDrugPrescriptionPackOption.medicationitemname }}"> {{
                            objResMedDrugPrescriptionPackOption.medicationitemname }}
                        </span>
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex"
                        let-columnIndex="columnIndex">
                        <DataTemplate #temp [dataItem]="dataItem" [index]="rowIndex" [colindex]="columnIndex"
                            [gridHelper]="grdRelated" (RowLoaded)="rowLoaded($event)">
                            <StackPanel Orientation="Horizontal" #sp>
                                <iLabel #lblDrugNameTempRef Name="lblDrugName" [containerParent]="sp" [index]="0" [Text]="dataItem.IdentifyingName"
                                    [Tooltip]="dataItem.IdentifyingName | lowercase" class="lineHeightNormal"
                                    TextDecorations="Underline" HorizontalAlignment="Left" FontWeight="Bold"
                                    Background="Transparent" VerticalAlignment="Stretch" IsWordwrap="True" Width="Auto"
                                    Height="Auto" (MouseLeftButtonDown_Func) ="MouseLeftButtonDown_FuncNew($event,rowIndex,columnIndex)"
                                    
                                    ></iLabel>                            
                            </StackPanel>
                        </DataTemplate>
                    </ng-template>
                </kendo-grid-column>
            </kendo-grid>
        </div>
    </kendo-gridlayout-item>

    <kendo-gridlayout-item [row]='6' [col]='1' [width]='615'>
        <div containerStyle>
            <iLabel #LblPresOptTempRef Margin="10,0,10,0" Name="LblPresOpt" Height="15"
                [Text]="objResMedDrugPrescriptionPackOption.prescribingoptions" FontWeight="Bold"
                HorizontalAlignment="Stretch" VerticalAlignment="Center">
            </iLabel>
        </div>
    </kendo-gridlayout-item>
    <kendo-gridlayout-item [row]='7' [col]='1'>
        <kendo-grid #grdPrescribeTempRef [GridProperties]="grdPrescribe" HorizontalAlignment="Stretch"
            VerticalAlignment="Stretch" Margin='10' 
            [selectable]="{ checkboxOnly: false, mode: 'single' }" kendoGridSelectBy
            [(selectedKeys)]="grdPrescribe.selectedRowsIndex"
            (cellClick)="grdPrescribe.cellClick($event)"
            (keyup)="grdPrescribe.GridSelectionKeyUp($event)"
            (keydown)="grdPrescribe.GridSelectionKeyDown($event)"
            [reorderable]="false" tabindex="2"
            [data]="grdPrescribe.ItemsSource.array" [height]="115" class="KendoScroll" class="kendo-scroll">
            <ng-template kendoGridNoRecordsTemplate>There are no records to show</ng-template>
            <kendo-grid-column *ngIf="grdPrescribe.RowIndicatorVisibility == 0 ? true : false" UniqueName="rowindicator"
                field="rowindicator" title="" [width]="20">
                               <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
                    <Image *ngIf="grdPrescribe.selectedRowsIndex.length > 0 ? grdPrescribe.selectedRowsIndex == 
                           rowIndex : false" Source="assets/images/iarrownor5x10.png" style="margin-left: 3px;">
                    </Image>
                </ng-template>
            </kendo-grid-column>
            <!--[width]="auto"-->       

            <kendo-grid-column UniqueName="SelectColumn" [filterable]="false" [width]="25">
                <ng-template kendoGridHeaderTemplate>
                    <ControlTemplate TargetType="telerikGridView:GridViewHeaderCell">
                        <GridBorder #ControlTemplateBordrerStyle Padding="0" Margin="0" BorderThickness="0,0,1,1"
                            BorderBrush="#7BB0AF" columnName="Reorder">
                            <Image Source="assets/images/icopyacrossnor24.png" Width="15" Height="15">
                            </Image>
                        </GridBorder>
                    </ControlTemplate>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex" let-columnIndex="columnIndex">
                    <DataTemplate #temp [dataItem]="dataItem" [index]="rowIndex" [colindex]="columnIndex"
                        [gridHelper]="grdPrescribe">
                        <Image Source="assets/images/icopyacrossnor24.png" Width="15" Height="15"
>
                        <!--  (MouseLeftButtonDown_Func) ="PrescribeMouseLeftButtonDown_FuncNew($event,rowIndex,columnIndex)" -->
                        </Image>

                    </DataTemplate>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column UniqueName="FormularyNote" [filterable]="false" [resizable]="false" [editable]="false"
                [width]="30">
                <ng-template kendoGridHeaderTemplate>
                    <DataTemplate #temp>
                        <ControlTemplate TargetType="telerikGridView:GridViewHeaderCell">
                            <GridBorder #ControlTemplateBordrerStyle Padding="0" Margin="0" BorderThickness="0,0,1,1"
                                BorderBrush="#7BB0AF">
                                <Image Source="assets/images/iwarninginfonor16.png" Width="17" Height="15"
                                [Tooltip]="objResMedAlternateOption.formularynote"></Image>
                            </GridBorder>
                        </ControlTemplate>
                    </DataTemplate>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex" let-columnIndex="columnIndex">
                    <DataTemplate #temp [dataItem]="dataItem" [index]="rowIndex" [colindex]="columnIndex"
                        [gridHelper]="grdPrescribe">
                        <StackPanel Orientation="Horizontal"><!--[Tooltip]="DataContext.FormularyNotes | CCWrapToolTip : 0 : '300'"
                            [Visibility]="DataContext.IsIconVisible"-->
                            <Image #imgFormularyTempRef Name="imgFormulary" Source="assets/images/iwarninginfonor16.png"
                                Stretch="None" 
                                [Tooltip]="dataItem.FormularyNotes | CCWrapToolTip : 0 : '300'"
                                [Visibility]="dataItem?.IsIconVisible">
                            </Image>
                            <Image #imgExclamTempRef Name="imgExclam" Source="assets/images/exclam.png" Stretch="None"
                                [Tooltip]="dataItem.DrugPropertyNotes | CCWrapToolTip : 0 : '300'"
                                [Visibility]="dataItem?.IsDrugPropertyIconVisible">
                            </Image>
                        </StackPanel>

                    </DataTemplate>
                </ng-template>

            </kendo-grid-column>

            <kendo-grid-column [title]="objResMedDrugPrescriptionPackOption.prescriptionitem"
                UniqueName="PrescriptionItem" [filterable]="false" [sortable]="true" [resizable]="false"
                [GridColumnProperties]="grdPrescribe" TextWrapping="Wrap" [width]="210">
                <ng-template kendoGridHeaderTemplate>
                    <span kendoTooltip title="{{ objResMedDrugPrescriptionPackOption.prescriptionitem }}"> {{
                        objResMedDrugPrescriptionPackOption.prescriptionitem }}
                    </span>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex" let-columnIndex="columnIndex">
                    <DataTemplate #temp [dataItem]="dataItem" [index]="rowIndex" [colindex]="columnIndex"
                        [gridHelper]="grdPrescribe">
                        <ContentPresenter [Content]="dataItem | MedLineDisplay : '' : 'SECONDARYSCREEN'">
                        </ContentPresenter>
                    </DataTemplate>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column [title]="objResMedDrugPrescriptionPackOption.otherinformation"
                UniqueName="Otherinformation" [filterable]="false" [sortable]="true" [resizable]="false" [width]="165"
                [editable]="false" field="Otherinformation">
                <ng-template kendoGridHeaderTemplate>
                    <span kendoTooltip title="{{ objResMedDrugPrescriptionPackOption.otherinformation }}"> {{
                        objResMedDrugPrescriptionPackOption.otherinformation }}
                    </span>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex" let-columnIndex="columnIndex">
                    <DataTemplate #temp [dataItem]="dataItem" [index]="rowIndex" [colindex]="columnIndex"
                        [gridHelper]="grdPrescribe">
                        <ContentPresenter [Content]="dataItem | MedOtherDisplay : '' : 200">
                        </ContentPresenter>
                    </DataTemplate>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column [title]="objResMedDrugPrescriptionPackOption.OrderSentenceDesc_Text"
                UniqueName="OrdersentenceDesc" [filterable]="false" [width]="202" [editable]="true" [resizable]="false"
                [hidden]="false" [GridColumnProperties]="grdPrescribe" TextWrapping="Wrap">
                <ng-template kendoGridHeaderTemplate>
                    <span kendoTooltip title="{{ objResMedDrugPrescriptionPackOption.OrderSentenceDesc_Text }}"> {{
                        objResMedDrugPrescriptionPackOption.OrderSentenceDesc_Text }}
                    </span>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex" let-columnIndex="columnIndex">
                    <DataTemplate #temp [dataItem]="dataItem" [index]="rowIndex" [colindex]="columnIndex" [gridHelper]="grdPrescribe">
                        <div *ngIf="dataItem && dataItem?.FormViewerDetails?.BasicDetails">
                            <!-- <iLabel #lblOrdersentenceDescTempRef Name="lblOrdersentenceDesc"
                                                [Text]="dataItem.FormViewerDetails.BasicDetails.OrderSentenceDesc" MinHeight="10"
                                                MaxHeight="39" IsWordwrap="True">
                                            </iLabel> -->
                            <!-- <ToolTipService.ToolTip> -->
                            <TextBlock TextWrapping="Wrap" [Text]="dataItem.FormViewerDetails.BasicDetails.OrderSentenceDesc" MinHeight="10"
                                MaxHeight="172" MinWidth="10" MaxWidth="170"
                                [Tooltip]="dataItem?.FormViewerDetails?.BasicDetails?.OrderSentenceDesc | CCWrapToolTip:'':''">
                            </TextBlock>
                        </div>
                        <!-- </ToolTipService.ToolTip> -->
                    </DataTemplate>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>
    </kendo-gridlayout-item>
</kendo-gridlayout>