<ScrollViewer #svwFormViewerTempRef Name="svwFormViewer" VerticalScrollBarVisibility="Auto" MaxWidth="955"
 [MaxHeight]="maxScrollContentHeight" HorizontalAlignment="Stretch" BorderThickness="0">

  <kendo-gridlayout GridLayout #LayoutRootTempRef Name="LayoutRoot" HorizontalAlignment="Stretch"
    [Background]="Styles.LzoPageBG" [rows]="[{height: 'auto'},{ height: 'auto'}]" [cols]="[
    { width: '8fr'},{ width: 40},{ width: '8fr'}]">

    <kendo-gridlayout-item [row]="1" [col]="1">

      <kendo-gridlayout HorizontalAlignment="Stretch" VerticalAlignment="Top" Width="auto" Margin="0,6,0,0"
        [Background]="Styles.LzoPageBG" [rows]="[{ height: 'fr'},{ height: 'fr'},{ height: 'fr'},
        { height: 31},{ height: 31},{ height: 31},{ height: 31},{ height: 'auto'},{ height: 31},  
        { height: 'auto'},{ height: 'auto'},{ height: 'auto'},{ height: 'auto'},
        { height: 'auto'},{ height: 'auto'},{ height: 'auto'},{ height: 'auto'}]"
        [cols]="[{ width: '6fr'},{ width: '19fr'}]">

        <Border [col]="2" [row]="1" [rowSpan]="11" [Background]="Styles.InnerBG"></Border>
        <Border GridLayout [col]="2" [row]="12"  [Background]="Styles.InnerBG"
        [Visibility]="DataContext.FormViewerDetails.BasicDetails.IsVisiblechkPRN"></Border>
        <Border GridLayout [col]="2" [row]="11" [Visibility]="DataContext.IsReasonForModificationVisible"
          [Background]="Styles.InnerBG"></Border>
        <Border GridLayout [col]="2" [row]="12"
          [Visibility]="DataContext.FormViewerDetails.BasicDetails.IsVisibleClinicallyverify"
          [Background]="Styles.InnerBG"></Border>
        <Border GridLayout [col]="2" [row]="13"
          [Visibility]="DataContext.FormViewerDetails.BasicDetails.IsVisibleClinicallyverify"
          [Background]="Styles.InnerBG"></Border>
        <Border GridLayout [col]="2" [row]="14"
          [Visibility]="DataContext.IsReasonForModificationVisible" [Background]="Styles.InnerBG">
        </Border>
        <Border GridLayout [col]="2" [row]="15"
          [Visibility]="DataContext.FormViewerDetails.BasicDetails.DaysOfWeekVisibility" [Background]="Styles.InnerBG">
        </Border>
        <Border GridLayout [col]="2" [row]="16"
          [Visibility]="DataContext.FormViewerDetails.BasicDetails.DaysOfWeekVisibility" [Background]="Styles.InnerBG">
        </Border>
        <Border [col]="1" [row]="2" [colSpan]="3" [iStyle]="Styles.whiteBorder"></Border>
        <Border [col]="1" [row]="3" [colSpan]="3" [iStyle]="Styles.whiteBorder"></Border>
        <Border [col]="1" [row]="4" [colSpan]="3" [iStyle]="Styles.whiteBorder"></Border>
        <Border [col]="1" [row]="5" [colSpan]="3" [iStyle]="Styles.whiteBorder"></Border>
        <Border [col]="1" [row]="6" [colSpan]="3" [iStyle]="Styles.whiteBorder"></Border>
        <Border [col]="1" [row]="7" [colSpan]="3" [iStyle]="Styles.whiteBorder"></Border>
        <!-- <Border [col]="1" [row]="8" [colSpan]="3" [iStyle]="Styles.whiteBorder"></Border> -->
        <Border [col]="1" [row]="9" [colSpan]="3" [iStyle]="Styles.whiteBorder"></Border>

        <Border GridLayout [col]="1" [row]="10" [colSpan]="3" [iStyle]="Styles.whiteBorder"
          [Visibility]="DataContext.FormViewerDetails.BasicDetails.IsVisibleFrequency"></Border>
        <Border GridLayout [col]="1" [row]="11" [colSpan]="3" [iStyle]="Styles.whiteBorder"
          [Visibility]="DataContext.FormViewerDetails.BasicDetails.IsVisiblechkPRN"></Border>
        <Border GridLayout [col]="1" [row]="12" [colSpan]="3" [iStyle]="Styles.whiteBorder"
          [Visibility]="DataContext.FormViewerDetails.BasicDetails.IsVisiblePRNInstruction"></Border>
          <Border GridLayout [col]="1" [row]="12" [colSpan]="3" [iStyle]="Styles.whiteBorderBottom"
          [Visibility]="DataContext.FormViewerDetails.BasicDetails.IsBrandMandatory === 1 ? 0 : 1"></Border>
        <Border GridLayout [col]="1" [row]="13" [colSpan]="3" [iStyle]="Styles.whiteBorder"
          [Visibility]="DataContext.FormViewerDetails.BasicDetails.IsBrandMandatory"></Border>
        <Border GridLayout [col]="1" [row]="14" [colSpan]="3" [Visibility]="DataContext.IsReasonForModificationVisible"
          [iStyle]="Styles.whiteBorderBottom"></Border>
        <Border GridLayout [col]="1" [row]="15" [colSpan]="3"
          [Visibility]="DataContext.FormViewerDetails.BasicDetails.IsVisibleClinicallyverify"
          [iStyle]="Styles.whiteBorderBottom"></Border>
        <Border GridLayout [col]="1" [row]="16" [colSpan]="3"
          [Visibility]="DataContext.FormViewerDetails.BasicDetails.IsVisibleClinicallyverify"
          [iStyle]="Styles.whiteBorderBottom"></Border>
        <Border GridLayout [col]="1" [row]="17" [colSpan]="3"
          [Visibility]="DataContext.FormViewerDetails.BasicDetails.DaysOfWeekVisibility" [iStyle]="Styles.whiteBorderBottom">
        </Border>
        <!-- <Border [col]="1" [row]="14" [colSpan]="3" [iStyle]="Styles.whiteBorder"></Border> -->

        <kendo-gridlayout-item [row]='1' [col]='1'>
          <div containerStyle>
            <iLabel #lblNonCatNameTempRef HorizontalAlignment="Stretch" Name="lblNonCatName" VerticalAlignment="Center"
              [Text]="resKey.NonCatName" Mandatory="True" IsWordwrap="True">
            </iLabel>
          </div>
        </kendo-gridlayout-item>


        <kendo-gridlayout-item [row]='1' [col]='2'>
          <div containerStyle>
            <iTextBox #txtNonCatItemTempRef Height="21" Width="auto" Tooltip="" HorizontalAlignment="Stretch"
              Name="txtNonCatItem" VerticalAlignment="Center"
              [(Text)]="DataContext.FormViewerDetails.BasicDetails.IdentifyingName" Margin="5,5" IsTabStop="True"
              TabIndex="1" MaxLength="255" [isGlobalEnabled]="IsEnabled" [IsEnabled]="DataContext.FormViewerDetails.BasicDetails.IsEnabledNonCatalogItemName"></iTextBox>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='2' [col]='1'>
          <div containerStyle>
            <iLabel #lblNonCatReasonTempRef HorizontalAlignment="Stretch" Name="lblNonCatReason"
              VerticalAlignment="Center" [Text]="resKey.NonCatPreReason" Mandatory="True" IsWordwrap="True"></iLabel>
          </div>
        </kendo-gridlayout-item>


        <kendo-gridlayout-item [row]='2' [col]='2'>
          <div containerStyle>
            <iComboBox #cboNONCATReasonTempRef IsEditable="False" IsTypeAHead="True" IsTextSearchEnabled="True"
              HorizontalAlignment="Stretch" Name="cboNONCATReason" [Tooltip]="resKey.cboRsnForMod_Tooltip"
              VerticalAlignment="Center" Width="auto" Height="21"
              [(ItemsSource)]="DataContext.FormViewerDetails.BasicDetails.DefaultDetails.NONCatalogueReasons"
              [(SelectedValue)]="DataContext.FormViewerDetails.BasicDetails.NONCatalogueReason" Margin="5,5"
              IsTabStop="True" TabIndex="2"></iComboBox>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='3' [col]='1'>
          <div containerStyle>
            <iLabel #lblSrcOtherTempRef HorizontalAlignment="Stretch" Name="lblSrcOther" VerticalAlignment="Center"
              [Text]="resKey.lblSrcOther_Text"
              [(Mandatory)]="DataContext.FormViewerDetails.BasicDetails.IsOtherNONCatReasonMandatory" IsWordwrap="True">
            </iLabel>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='3' [col]='2'>
          <div containerStyle>
            <iTextBox #txtOtherNonCatReasonTempRef Height="21" Width="auto"
              [Tooltip]="resKey.txtOtherNonCatReason_ToolTip"
              [(Text)]="DataContext.FormViewerDetails.BasicDetails.OtherNONCatalogueReason"
              HorizontalAlignment="Stretch" Name="txtOtherNonCatReason" VerticalAlignment="Center" Margin="5,5"
              IsTabStop="True" TabIndex="3"></iTextBox>
          </div>
        </kendo-gridlayout-item>


        <kendo-gridlayout-item [row]='4' [col]='1'>
          <div containerStyle>
            <iLabel #lblRouteTempRef HorizontalAlignment="Stretch" Name="lblRoute" VerticalAlignment="Center"
              [Text]="resKey.RouteLabel_Text" Mandatory="False"></iLabel>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='4' [col]='2'>
          <div containerStyle>
            <iComboBox #cboRouteTempRef IsEditable="True" IsTypeAHead="True" IsTextSearchEnabled="True"
              HorizontalAlignment="Stretch" Name="cboRoute" [Tooltip]="resKey.cboRoute_Tooltip"
              VerticalAlignment="Center" Width="auto" Height="21"
              [(ItemsSource)]="DataContext.FormViewerDetails.BasicDetails.DefaultDetails.Routes"
              [(SelectedValue)]="DataContext.FormViewerDetails.BasicDetails.Route" Margin="5,5" IsTabStop="True"
              TabIndex="4"></iComboBox>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='5' [col]='1'>
          <div containerStyle>
            <iLabel #lblDosageFormTempRef HorizontalAlignment="Stretch" Name="lblDosageForm" VerticalAlignment="Center"
              [Text]="resKey.lblDosageForm_Text" Mandatory="False" [isGlobalEnabled]="IsEnabled"
              [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsenableDosage"></iLabel>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='5' [col]='2'>
          <div containerStyle>
            <iComboBox #cboDosageFormTempRef IsEditable="True" IsTypeAHead="True" IsTextSearchEnabled="True"
              Margin="5,5" [(ItemsSource)]="DataContext.FormViewerDetails.BasicDetails.DefaultDetails.Forms"
              [(SelectedValue)]="DataContext.FormViewerDetails.BasicDetails.DosageForm"
              [Tooltip]="resKey.cboDosageForm_Tooltip" HorizontalAlignment="Stretch" Name="cboDosageForm"
              VerticalAlignment="Center" Width="auto" Height="21" [isGlobalEnabled]="IsEnabled" 
              [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsenableDosage"
            [SelectionChanged]="cboDosageForm_SelectionChanged_Func" IsTabStop="True" TabIndex="5">
                  </iComboBox>
          </div>
        </kendo-gridlayout-item>


        <kendo-gridlayout-item [row]='6' [col]='1'>
          <div containerStyle>
            <iLabel #lblDoseTypeTempRef HorizontalAlignment="Stretch" Name="lblDoseType" VerticalAlignment="Center"
              [Text]="resKey.lblDoseType_Text" Mandatory="False"></iLabel>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='6' [col]='2'>
          <div containerStyle>
            <iComboBox #cboDoseTypeTempRef [Tooltip]="resKey.cboDoseType_Tooltip"
              [(ItemsSource)]="DataContext.FormViewerDetails.BasicDetails.DefaultDetails.DoseType" Margin="5,5"
              Width="auto" HorizontalAlignment="Stretch" Name="cboDoseType" VerticalAlignment="Center" Height="21"
              [(SelectedValue)]="DataContext.FormViewerDetails.BasicDetails.DoseType" IsTabStop="True" TabIndex="6">
            </iComboBox>
          </div>
        </kendo-gridlayout-item>


        <kendo-gridlayout-item [row]='7' [col]='1'>
          <div containerStyle>
            <iLabel #lblDoseTempRef HorizontalAlignment="Stretch" Name="lblDose" VerticalAlignment="Center"
              IsWordwrap="True" [Text]="DataContext.FormViewerDetails.BasicDetails.Doselabelvalue" Mandatory="False" [isGlobalEnabled]="IsEnabled" 
              [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsenableDose"></iLabel>
          </div>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [row]='7' [col]='2'>
          <div containerStyle>
            <kendo-gridlayout GridLayout #DoseLayoutRootTempRef Name="DoseLayoutRoot" Margin="5,5"
              [Visibility]="DataContext.FormViewerDetails.BasicDetails.IsDoseVisible" [cols]="[{width:DataContext.FormViewerDetails.BasicDetails.LowerDoseWidth}
                                      ,{width:DataContext.FormViewerDetails.BasicDetails.HifenWidth},{width:DataContext.FormViewerDetails.BasicDetails.UpperDoseWidth}
                                      ,{width:40},{width:120}]">
              <kendo-gridlayout-item GridLayout [col]="1" [row]="1" [colSpan]="1">
                <div containerStyle>
                  <iTextBox VisibilityWidthDirective
                    [VisibilityWidth]="DataContext.FormViewerDetails.BasicDetails.LowerDoseWidth" #txtLowerDoseTempRef
                    HorizontalAlignment="Stretch" [Tooltip]="DataContext.FormViewerDetails.BasicDetails.ToolTipForDose"
                    Name="txtLowerDose" VerticalAlignment="Center" Height="21" MinWidth="15" Width="auto"
                    [(Text)]="DataContext.FormViewerDetails.BasicDetails.Dose" Margin="0,0,3,0"
                    [isGlobalEnabled]="IsEnabled" [IsEnabled]="DataContext.FormViewerDetails.BasicDetails.IsenableDose"
                    Type="Numeric" Nonnegative="True" Scale="7" Precision="3" MaxLength="11" IsTabStop="True"
                    TabIndex="7" [SelectionChanged]="txtLowerDose_SelectionChanged_Func">
                  </iTextBox>
                </div>
              </kendo-gridlayout-item>
              <kendo-gridlayout-item GridLayout [col]="2" [row]="1" [colSpan]="1">
                <div containerStyle>
                  <iLabel VisibilityWidthDirective
                    [VisibilityWidth]="DataContext.FormViewerDetails.BasicDetails.HifenWidth" #lblHifenTempRef
                    HorizontalAlignment="Stretch" Name="lblHifen" VerticalAlignment="Center" Height="20" MinWidth="5"
                    Width="5" [Text]="resKey.lblHypen_Text" Margin="0,0,2,0" [isGlobalEnabled]="IsEnabled"
                    [IsEnabled]="DataContext.FormViewerDetails.BasicDetails.IsenableDose" IsTabStop="False"></iLabel>
                </div>
              </kendo-gridlayout-item>
              <kendo-gridlayout-item GridLayout [col]="3" [row]="1" [colSpan]="1">
                <div containerStyle>
                  <iTextBox #txtUpperDoseTempRef VisibilityWidthDirective
                    [VisibilityWidth]="DataContext.FormViewerDetails.BasicDetails.UpperDoseWidth"
                    HorizontalAlignment="Stretch" [Tooltip]="resKey.txtUpperDose_Tooltip" Name="txtUpperDose"
                    VerticalAlignment="Stretch" [(Text)]="DataContext.FormViewerDetails.BasicDetails.UpperDose"
                    MinWidth="15" Width="auto" [isGlobalEnabled]="IsEnabled"
                    [IsEnabled]="DataContext.FormViewerDetails.BasicDetails.IsenableDose" Type="Numeric"
                    Nonnegative="True" Scale="7" Precision="3" MaxLength="11"
                    [IsTabStop]="DataContext.FormViewerDetails.BasicDetails.txtUpperDoseIsExists" TabIndex="8">
                  </iTextBox>
                </div>
              </kendo-gridlayout-item>
              <kendo-gridlayout-item GridLayout [col]="4" [row]="1" [colSpan]="2">
                <div containerStyle>
                  <iLabel #lblUOMTempRef HorizontalAlignment="Stretch" Name="lblUOM" VerticalAlignment="Center"
                    [isGlobalEnabled]="IsEnabled"
                    [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsenableDoseUOM"
                    [Text]="resKey.lblUOM_Text" Width="auto" Margin="5,5,5,0"
                    [(Mandatory)]="DataContext.FormViewerDetails.BasicDetails.IsDoseMandatory" MinWidth="20" Height="20"
                    IsTabStop="False"></iLabel>
                </div>
              </kendo-gridlayout-item>
              <kendo-gridlayout-item GridLayout [col]="6" [row]="1" [colSpan]="6">
                <div containerStyle>
                  <iComboBox #cboUOMTempRef
                    [(ItemsSource)]="DataContext.FormViewerDetails.BasicDetails.DefaultDetails.Uoms"
                    [(SelectedValue)]="DataContext.FormViewerDetails.BasicDetails.DoseUOM" IsDropDownStretch="True"
                    IsEditable="True" [Tooltip]="resKey.cboUOM_Tooltip" IsTypeAHead="True" IsTextSearchEnabled="True"
                    HorizontalAlignment="Stretch" Name="cboUOM" VerticalAlignment="Center" Width="auto" Height="21"
                    [isGlobalEnabled]="IsEnabled" ResetMore="True"
                    [IsEnabled]="DataContext.FormViewerDetails.BasicDetails.IsenableDoseUOM" IsTabStop="True"
                    TabIndex="9" SelectAllTextEvent="None"></iComboBox>
                </div>
              </kendo-gridlayout-item>
            </kendo-gridlayout>
          </div>
        </kendo-gridlayout-item>
        <!---->
        <kendo-gridlayout-item [row]='8' [col]='1'>
          <div containerStyle>
            <iLabel #lblStrengthTempRef HorizontalAlignment="Stretch" Name="lblStrength" VerticalAlignment="Center" [isGlobalEnabled]="IsEnabled" 
              [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsEnableStrength"
              [Text]="resKey.lblStrength_Text"
              [(Mandatory)]="DataContext.FormViewerDetails.BasicDetails.IsStrengthMandatory" Visibility="false">
            </iLabel>
          </div>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [row]='8' [col]='2'>
          <div containerStyle>
            <iComboBox #cboStrengthTempRef IsEditable="True" IsTypeAHead="True" IsTextSearchEnabled="True" Margin="5,5" [isGlobalEnabled]="IsEnabled" 
              [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsEnableStrength"
              [(ItemsSource)]="DataContext.FormViewerDetails.BasicDetails.DefaultDetails.Strengths"
              [(SelectedValue)]="DataContext.FormViewerDetails.BasicDetails.Strength"
              [Tooltip]="resKey.cboStrength_Tooltip" HorizontalAlignment="Stretch" Name="cboStrength"
              VerticalAlignment="Center" Width="auto" Height="21" IsTabStop="True" TabIndex="11" [Visibility]="false">
            </iComboBox>
          </div>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [row]='9' [col]='1'>
          <div containerStyle>
            <iLabel #lblSiteTempRef HorizontalAlignment="Stretch" Name="lblSite" VerticalAlignment="Center"
              [Text]="resKey.lblSite_Text" [(Mandatory)]="DataContext.FormViewerDetails.BasicDetails.IsSiteMandatory" [isGlobalEnabled]="IsEnabled" 
              [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsSiteEnabled"></iLabel>
          </div>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [row]='9' [col]='2'>
          <div containerStyle>
            <iComboBox #cboSiteTempRef IsEditable="True" IsTypeAHead="True" IsTextSearchEnabled="True" Margin="5,5"
              AllowInputText="True" [(ItemsSource)]="DataContext.FormViewerDetails.BasicDetails.DefaultDetails.Sites"
              [(SelectedValue)]="DataContext.FormViewerDetails.BasicDetails.Site" [isGlobalEnabled]="IsEnabled" 
              [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsSiteEnabled"
              [(Text)]="DataContext.FormViewerDetails.BasicDetails.SiteFreeText" [Tooltip]="resKey.cboSite_Tooltip"
              HorizontalAlignment="Stretch" Name="cboSite" VerticalAlignment="Center" Width="auto" Height="21"
              IsTabStop="True" TabIndex="12">
            </iComboBox>
          </div>
        </kendo-gridlayout-item>

        <!---->
        <kendo-gridlayout-item [row]='10' [col]='1'>
          <div containerStyle>
            <iLabel #lblFrequencyTempRef HorizontalAlignment="Stretch" Name="lblFrequency" VerticalAlignment="Center"
              [Text]="resKey.lblFrequency_Text" [isGlobalEnabled]="IsEnabled" 
              [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsenableFrequency"></iLabel>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='10' [col]='2'>
          <div containerStyle>
            <iComboBox #cboFrequencyTempRef IsEditable="True" IsTypeAHead="True" IsTextSearchEnabled="True"
              Name="cboFrequency" VerticalAlignment="Center" Width="auto" Height="21" HorizontalAlignment="Stretch"
              Margin="5,5" [isGlobalEnabled]="IsEnabled"  [IsEnabled]="DataContext.FormViewerDetails.BasicDetails.IsenableFrequency"
              [Tooltip]="resKey.cboFrequency_Tooltip"
              [(ItemsSource)]="DataContext.FormViewerDetails.BasicDetails.DefaultDetails.Frequencys"
              [(SelectedValue)]="DataContext.FormViewerDetails.BasicDetails.Frequency"
              [LostFocus]="cboFrequency_LostFocus_func" IsTabStop="True" TabIndex="10"></iComboBox>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='11' [col]='1'>
          <div containerStyle>
            <iLabel #lblIsPRNTempRef IsWordwrap="True" HorizontalAlignment="Stretch" Name="lblIsPRN"
              VerticalAlignment="Center" [Text]="resKey.lblIsPRN_Text" Mandatory="False" [isGlobalEnabled]="IsEnabled"
              [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsenableAsrequired"></iLabel>
          </div>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [row]='11' [col]='2' [style.height.px]="30">
          <div containerStyle>
              <StackPanel [Background]="DataContext.FormViewerDetails.BasicDetails.PRNChkColorVisible">
                  <div containerStyle>
                    <iCheckBox #chkPRNTempRef Content="" HorizontalAlignment="Stretch" Name="chkPRN"
                    [Tooltip]="resKey.chkPRN_Tooltip" VerticalAlignment="Center" Margin="3,5" Width="auto"
                    [(IsChecked)]="DataContext.FormViewerDetails.BasicDetails.AsRequired"
                    [isGlobalEnabled]="IsEnabled"
                    [IsEnabled]="DataContext.FormViewerDetails.BasicDetails.IsenableAsrequired" TabIndex="11" IsTabStop="True"
                    [(Visibility)]="DataContext.FormViewerDetails.BasicDetails.IsVisiblechkPRN" [KeyDown]="chkPRN_KeyDown">
                  </iCheckBox>                  
                </div>
              </StackPanel>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='12' [col]='1'>
          <div containerStyle>
            <iLabel #lblPRNInstructionTempRef HorizontalAlignment="Stretch" Name="lblPRNInstruction"
              VerticalAlignment="Center" Text="PRN instructions" IsWordwrap="True"
              [(Mandatory)]="DataContext.FormViewerDetails.BasicDetails.IsPRNInstructionMandatory"
              [(Visibility)]="DataContext.FormViewerDetails.BasicDetails.IsVisiblePRNInstruction"
              [isGlobalEnabled]="IsEnabled"
              [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsEnablePRNInst"></iLabel>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='12' [col]='2'>
          <div containerStyle>
            <iComboBox #cboPRNInstructionTempRef Name="cboPRNInstruction" TabIndex="12" Margin="5,5"
              VerticalAlignment="Center" HorizontalAlignment="Stretch" Height="21" Width="auto" IsTypeAHead="True"
              IsEditable="True" IsTextSearchEnabled="True"
              [(Visibility)]="DataContext.FormViewerDetails.BasicDetails.IsVisiblePRNInstruction"
              [ItemsSource]="DataContext.FormViewerDetails.BasicDetails.DefaultDetails.PRNInstructions"
              [(SelectedValue)]="DataContext.FormViewerDetails.BasicDetails.PRNInstruction"
              [(Text)]="DataContext.FormViewerDetails.BasicDetails.PRNInstructionFreeText" AllowInputText="True"
              [IsEnabled]="DataContext.FormViewerDetails.BasicDetails.IsEnablePRNInst" IsTabStop="True"
              [Tooltip]="resKey.cboPRNInstruction_ToolTip" MaxTextLength="255">
            </iComboBox>

          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='13' [col]='1'>
          <div containerStyle>
            <iLabel #lblBrandTempRef HorizontalAlignment="Stretch" Name="lblBrand" VerticalAlignment="Center"
              [Text]="resKey.lblBrand_Text"
              [Visibility]="DataContext.FormViewerDetails.BasicDetails.IsBrandMandatory"></iLabel>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='13' [col]='2' name="BrandLayout" Width="auto" Margin="5,5">
          <kendo-gridlayout GridLayout class="grid-layout-container" [rows]="[{height:'auto'},{height:20}]"
            [Visibility]="DataContext.FormViewerDetails.BasicDetails.IsBrandMandatory">
            <kendo-gridlayout-item [row]='1' [col]='1'>
              <div containerStyle>
                <iLabel #cmdBrandTempRef Width="auto" [(Text)]="DataContext.FormViewerDetails.BasicDetails.BrandName"
                  IsWordwrap="True" [Visibility]="DataContext.FormViewerDetails.BasicDetails.IsBrandMandatory"
                  TextDecorations="Underline" Cursor="Hand" Height="auto" HorizontalAlignment="Left"
                  VerticalAlignment="Top" Name="cmdBrand"
                  [(Tooltip)]="DataContext.FormViewerDetails.BasicDetails.BrandName" TabIndex="13" 
                  [MouseLeftButtonUp]="cmdBrand_MouseLeftButtonDown_Func" [isGlobalEnabled]="IsEnabled"
                  ></iLabel>

              </div>
            </kendo-gridlayout-item>
            <kendo-gridlayout-item [row]='2' [col]='1'>
              <div containerStyle>
                <iButton #cmdClearTempRef Margin="5,0,5,0" Width="55" Text="Clear" [isGlobalEnabled]="IsEnabled"
                  [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsClearEnabled"
                  [Visibility]="DataContext.FormViewerDetails.BasicDetails.IsBrandMandatory" Tooltip="Clear"
                  TextDecorations="Underline" Cursor="Hand" Height="23" HorizontalAlignment="Right"
                  VerticalAlignment="Top" Name="cmdClear" ImageSource="../Images/iClearNOR24.png"
                  DisabledImageSource="../Images/iClearDIS24.png" ActiveImageSource="../Images/iClearHOT24.png"
                  [Command]="DataContext.ClearBrand"></iButton>
              </div>
            </kendo-gridlayout-item>
          </kendo-gridlayout>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='14' [col]='1'>
          <div containerStyle>
            <iLabel #lblRsnForModTempRef HorizontalAlignment="Stretch"
              [Visibility]="DataContext.IsReasonForModificationVisible" Name="lblRsnForMod"
              [(Mandatory)]="DataContext.FormViewerDetails.BasicDetails.IsMandatoryRSNFORMOD" VerticalAlignment="Center"
              [Text]="resKey.lblRsnForMod_Text" IsWordwrap="True" [isGlobalEnabled]="IsEnabled"
              [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsenableRSNFORMOD"></iLabel>
          </div>
        </kendo-gridlayout-item>


        <kendo-gridlayout-item [row]='14' [col]='2'>
          <div containerStyle>
            <iComboBox #cboRsnForModTempRef IsEditable="True"
              [(ItemsSource)]="DataContext.FormViewerDetails.BasicDetails.DefaultDetails.ReasonforModification"
              [Visibility]="DataContext.IsReasonForModificationVisible"
              [(SelectedValue)]="DataContext.FormViewerDetails.BasicDetails.ReasonforModification" Margin="5,5"
              [Tooltip]="resKey.cboRsnForMod_Tooltip" IsTypeAHead="True" IsTextSearchEnabled="True"
              HorizontalAlignment="Stretch" Name="cboRsnForMod" Width="auto" Height="21" VerticalAlignment="Center" [isGlobalEnabled]="IsEnabled" 
              [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsenableRSNFORMOD"
              [IsEnabledChanged]="cboRsnForMod_IsEnabledChanged_Func" IsTabStop="True" TabIndex="23"></iComboBox>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='15' [col]='1'>
          <div containerStyle>
            <iLabel #lblIsClinicallyVerifiedTempRef IsWordwrap="True" HorizontalAlignment="Stretch"
              Name="lblIsClinicallyVerified" VerticalAlignment="Center" [Text]="resKey.lblIsClinicallyVerified_Text"
              [(Visibility)]="DataContext.FormViewerDetails.BasicDetails.IsVisibleClinicallyverify" [isGlobalEnabled]="IsEnabled" 
              [IsEnabled]="DataContext.FormViewerDetails.BasicDetails.IsEnableChkClinivallyVerify"></iLabel>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='15' [col]='2'>
          <div containerStyle>
            <iCheckBox #chckClinicalVerifyTempRef Name="chckClinicalVerify" HorizontalAlignment="Stretch"
              VerticalAlignment="Center" Margin="3,5" Width="auto"
              [(IsChecked)]="DataContext.FormViewerDetails.BasicDetails.IsClinicallyVerified"
              Tooltip="Select To clinically Verify Item"
              [(Visibility)]="DataContext.FormViewerDetails.BasicDetails.IsVisibleClinicallyverify"
              [OnChange]="chckClinicalVerify_OnChange_Func" IsTabStop="True" TabIndex="25"
              [IsEnabled]="DataContext.FormViewerDetails.BasicDetails.IsEnableChkClinivallyVerify"></iCheckBox>
          </div>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [row]='16' [col]='1'>
          <div containerStyle>
            <iLabel #lblPrescribedbyTempRef HorizontalAlignment="Stretch" IsWordwrap="True" Name="lblPrescribedby"
              VerticalAlignment="Center" [Text]="resKey.lblPrescribedByCaption"
              [Visibility]="DataContext.FormViewerDetails.BasicDetails.IsVisibleClinicallyverify">
            </iLabel>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='16' [col]='2'>
          <div containerStyle>
            <iLabel #txtPrescribedbyTempRef HorizontalAlignment="Stretch" IsWordwrap="True" Name="txtPrescribedby"
              VerticalAlignment="Center" Margin="5,5" Width="auto" [Text]="DataContext.PrescribedByWithRoleName"
              [Visibility]="DataContext.FormViewerDetails.BasicDetails.IsVisibleClinicallyverify">
            </iLabel>
          </div>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [row]="17" [col]="1" [colSpan]="2">
          <div containerStyle>
            <frmWeekdays #WeekdaysTempRef Name="Weekdays" HorizontalContentAlignment="Stretch" [isGlobalEnabled]="IsEnabled"
              VerticalContentAlignment="Stretch" [DataContext]="DataContext" Margin="-1,0,68,0">
            </frmWeekdays>
          </div>
        </kendo-gridlayout-item>
      </kendo-gridlayout>

    </kendo-gridlayout-item>

    <kendo-gridlayout-item [row]='1' [col]='3'>

      <kendo-gridlayout HorizontalAlignment="Stretch" VerticalAlignment="Top" Width="auto" Margin="0,6,0,0"
        [Background]="Styles.LzoPageBG" [rows]="[
        { height: 'auto'},
        { height: 'auto'},
        { height: 31},
        { height: 31},
        { height: 31},
        { height: 31},
        { height: 31},
        { height: 35},  
        { height: 'auto'},
        { height: 'auto'},
        { height: 'auto'},
        { height: 'auto'},
        { height: 5} 
    ]" [cols]="[
            { width: '6fr'},
            { width: '19fr'}]">

        <Border [row]='1' [col]='2' [rowSpan]="8" [Background]="Styles.InnerBG"></Border>
        <Border [row]='10' [col]='2' [Visibility]="DataContext.IsReasonForModificationVisible"
          [Background]="Styles.InnerBG"></Border>
        <Border GridLayout [row]='11' [col]='2'
          [Visibility]="DataContext.FormViewerDetails.BasicDetails.IsVisibleClinicallyverify"
          [Background]="Styles.InnerBG"></Border>
        <!-- <Border [row]='13' [col]='2' [Background]="Styles.InnerBG"></Border> -->

        <Border [row]='2' [col]='1' [colSpan]="3" [iStyle]="Styles.whiteBorder">
        </Border>
        <Border [row]='3' [col]='1' [colSpan]="3" [iStyle]="Styles.whiteBorder">
        </Border>
        <Border [row]='4' [col]='1' [colSpan]="3" [iStyle]="Styles.whiteBorder">
        </Border>
        <Border [row]='5' [col]='1' [colSpan]="3" [iStyle]="Styles.whiteBorder">
        </Border>
        <Border [row]='6' [col]='1' [colSpan]="3" [iStyle]="Styles.whiteBorder">
        </Border>
        <Border [row]='7' [col]='1' [colSpan]="3" [iStyle]="Styles.whiteBorder">
        </Border>
        <Border [row]='8' [col]='1' [colSpan]="3" [iStyle]="Styles.whiteBorder">
        </Border>

        <Border GridLayout [row]='10' [col]='1' [colSpan]="2" [iStyle]="Styles.whiteBorder"
          [Visibility]="DataContext.IsReasonForModificationVisible"></Border>
        <Border GridLayout [row]='11' [col]='1' [colSpan]="2"
          [Visibility]="DataContext.FormViewerDetails.BasicDetails.IsVisibleClinicallyverify"
          [iStyle]="Styles.whiteBorder"></Border>
        <Border [row]='12' [col]='1' [colSpan]="2" [iStyle]="Styles.whiteBorder">
        </Border>


        <kendo-gridlayout-item [row]='1' [col]='1'>
          <div containerStyle>
            <iLabel #lblAdditionalCommentsTempRef HorizontalAlignment="Stretch" Name="lblAdditionalComments"
              VerticalAlignment="Center" [Text]="resKey.lblAddComments_Text" IsWordwrap="True" Mandatory="False"
              Width="auto" [isGlobalEnabled]="IsEnabled"  [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsenableAdditionalcomments">
            </iLabel>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='1' [col]='2'>
          <div containerStyle>
            <iTextBox #txtAddCommentsTempRef HorizontalAlignment="Stretch" AcceptsReturn="True" TextWrapping="Wrap"
              Margin="5,5" MaxLength="255" Name="txtAddComments" [Tooltip]="resKey.txtAddComments_Tooltip"
              VerticalAlignment="Center" Width="auto" Height="50" VerticalScrollBarVisibility="Visible"
              [(Text)]="DataContext.FormViewerDetails.BasicDetails.AdditionalComments" [isGlobalEnabled]="IsEnabled" 
              [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsenableAdditionalcomments" IsTabStop="True"
              TabIndex="12"></iTextBox>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='2' [col]='1'>
          <div containerStyle>
            <iLabel #lblPblmIndTempRef IsWordwrap="True" HorizontalAlignment="Stretch" Name="lblPblmInd"
              VerticalAlignment="Center" [isGlobalEnabled]="IsEnabled" 
              [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsEnableProblemIndication"
              [Text]="resKey.lblPblmInd_Text" Mandatory="False" Width="auto"></iLabel>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='2' [col]='2'>
          <div containerStyle>
            <iTextBox #txtProblemTempRef Height="63" Width="auto" [Tooltip]="resKey.txtProblem_Tooltip"
              HorizontalAlignment="Stretch" Name="txtProblem" VerticalAlignment="Stretch"
              [(Text)]="DataContext.FormViewerDetails.BasicDetails.ProblemIndication"
              [(Tag)]="DataContext.FormViewerDetails.BasicDetails.PatientProblemCode" [isGlobalEnabled]="IsEnabled"
              [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsEnableProblemIndication" TextWrapping="Wrap"
              AcceptsReturn="True" VerticalScrollBarVisibility="Visible" IsTabStop="True" Margin="5,5" TabIndex="14">
            </iTextBox>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='3' [col]='1'>
          <div containerStyle>
            <iLabel #lblDateCommencedTempRef IsWordwrap="True" HorizontalAlignment="Stretch" Name="lblDateCommenced"
              VerticalAlignment="Center" [Text]="resKey.lblDateCommenced_Text" Mandatory="False"></iLabel>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='3' [col]='2'>
          <div containerStyle>
            <StackPanel Orientation="Horizontal" Width="auto" Margin="5,5">
              <div containerStyle>
                <iRadioButton #optCompletedateTempRef [Text]="resKey.optCompletedate_Text" Name="optCompletedate"
                  [Tooltip]="resKey.rbComplete_Tooltip"
                  [(IsChecked)]="DataContext.FormViewerDetails.BasicDetails.Completedate" MinWidth="100" Width="110"
                  IsWordWrap="True" GroupName="Dateoption" TabIndex="15" IsTabStop="True"></iRadioButton>
              </div>
              <div containerStyle class="compdate">
                <iRadioButton #optPartialdateTempRef [Text]="resKey.optPartialdate_Text" Name="optPartialdate"
                  VerticalAlignment="Center" [Tooltip]="resKey.rbpartial_Tooltip"
                  [(IsChecked)]="DataContext.FormViewerDetails.BasicDetails.Partialdate" GroupName="Dateoption"
                  MinWidth="98" Width="80" IsWordWrap="True" TabIndex="15" IsTabStop="True"></iRadioButton>
              </div>
            </StackPanel>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='4' [col]='1'>
          <div containerStyle>
            <iLabel #lblStartDateTempRef HorizontalAlignment="Stretch" Name="lblStartDate" VerticalAlignment="Center"
              [Text]="resKey.lblDate_Text" Mandatory="False"
              [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsenableStartdate"></iLabel>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='4' [col]='2'>
          <div containerStyle>
            <iDateTimePicker #dtpStartDateTempRef DateTimeFormat="Custom" CustomFormat="dd-MMM-yyyy"
              EnableCultureSupport="False" DatePickerMode="DATEPICKER" HorizontalAlignment="Stretch"
              [Tooltip]="resKey.dtpStartDate_Tooltip" Name="dtpStartDate" Height="21" Margin="5,5" Width="auto" [isGlobalEnabled]="IsEnabled" 
              [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsenableStartdate"
              [(SelectedDateTime)]="DataContext.FormViewerDetails.BasicDetails.CompleteStartDTTM" IsTabStop="True"
              TabIndex="16"></iDateTimePicker>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='5' [col]='1'>
          <div containerStyle>
            <iLabel #lblMonthTempRef HorizontalAlignment="Stretch" Name="lblMonth" VerticalAlignment="Center"
              [Text]="resKey.lblMonth_Text" Mandatory="False" [isGlobalEnabled]="IsEnabled" 
              [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsenableMonthYear"></iLabel>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='5' [col]='2'>
          <div containerStyle>
            <kendo-gridlayout GridLayout Margin="5,5" HorizontalAlignment="Stretch" VerticalAlignment="Center" [cols]="[
         {width:'1fr'},
        {width:'1fr'}]">

              <kendo-gridlayout-item class="paddingRight6" [row]='1' [col]='1'>
                <div containerStyle>
                  <iComboBox #cboMonthTempRef IsEditable="True"
                    [(ItemsSource)]="DataContext.FormViewerDetails.BasicDetails.DefaultDetails.Month"
                    [(SelectedValue)]="DataContext.FormViewerDetails.BasicDetails.Month" IsTypeAHead="True"
                    [Tooltip]="resKey.cboMonth_Tooltip" IsTextSearchEnabled="True" HorizontalAlignment="Left"
                    Name="cboMonth" Height="21" Width="163" [isGlobalEnabled]="IsEnabled"
                    [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsenableMonthYear" TabIndex="17"
                    IsTabStop="True"></iComboBox>
                </div>
              </kendo-gridlayout-item>

              <kendo-gridlayout-item [row]='1' [col]='2'>
                <div containerStyle>
                  <iUpDownBox #udYearTempRef Height="21" HorizontalAlignment="Stretch" VerticalAlignment="Center"
                    Name="udYear" [Tooltip]="resKey.udyear_Tooltip" Width="auto"
                    [(Value)]="DataContext.FormViewerDetails.BasicDetails.Year" Minimum="1900" Maximum="2500"
                    IsDecimal="False" DecimalPlaces="0" [isGlobalEnabled]="IsEnabled"
                    [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsenableMonthYear" TabIndex="18"
                    IsTabStop="True"></iUpDownBox>
                </div>
              </kendo-gridlayout-item>


            </kendo-gridlayout>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='6' [col]='1'>
          <div containerStyle>
            <iLabel #lblQuantityTempRef HorizontalAlignment="Stretch" Name="lblQuantity" VerticalAlignment="Center"
              [Text]="resKey.lblQuantity_Text"
              [Mandatory]="DataContext.FormViewerDetails.BasicDetails.IsQuantityMandatory"
              [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsQuantityEnabled"></iLabel>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='6' [col]='2'>
          <kendo-gridlayout GridLayout [cols]="[{width:'1fr'},{width:'2fr'}]" HorizontalAlignment="Stretch"
            VerticalAlignment="Center" Margin="5,5">
            <kendo-gridlayout-item GridLayout [col]='1' [row]="1">
              <div containerStyle>
                <iTextBox #txtQuantityTempRef HorizontalAlignment="Left" [Tooltip]="resKey.txtQuantity_Tooltip"
                  Name="txtQuantity" VerticalAlignment="Center" Margin="0,0,6,0"
                  [(Text)]="DataContext.FormViewerDetails.BasicDetails.Quantity" Precision="3" Scale="5" MaxLength="9"
                  Height="21" width="103" Type="Numeric" Nonnegative="True" [isGlobalEnabled]="IsEnabled"
                  [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsQuantityEnabled" TabIndex="19"></iTextBox>
              </div>
            </kendo-gridlayout-item>
            <kendo-gridlayout-item GridLayout [col]='2' [row]="1">
              <div containerStyle>
                <iComboBox #cboQuantityTempRef IsEditable="True"
                  [(ItemsSource)]="DataContext.FormViewerDetails.BasicDetails.DefaultDetails.Quantitys"
                  [(SelectedValue)]="DataContext.FormViewerDetails.BasicDetails.QuantityUOM" IsDropDownStretch="True"
                  [Tooltip]="resKey.cboQuantity_Tooltip" IsTypeAHead="True" IsTextSearchEnabled="True"
                  HorizontalAlignment="Stretch" Name="cboQuantity" VerticalAlignment="Center" Height="21" Width="auto"
                  [isGlobalEnabled]="IsEnabled"
                  [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsQuantityEnabled" IsTabStop="True"
                  TabIndex="20" SelectAllTextEvent="None"></iComboBox>
              </div>
            </kendo-gridlayout-item>

          </kendo-gridlayout>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='7' [col]='1'>
          <div containerStyle>
            <iLabel #lblDurationTempRef HorizontalAlignment="Stretch" Name="lblDuration" VerticalAlignment="Center"
              [Text]="resKey.lblDuration_Text" Mandatory="False" [isGlobalEnabled]="IsEnabled" 
              [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsenableDuration"></iLabel>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='7' [col]='2'>
          <div containerStyle>
            <kendo-gridlayout  class="duration" HorizontalAlignment="Stretch" [cols]="[{ width: '1fr'},{ width: '2fr'} ]">
              <kendo-gridlayout-item [row]='1' [col]='1'>
                <div containerStyle>
                  <iUpDownBox #udDurationTempRef Height="21" [Tooltip]="resKey.udDuration_Tooltip" Maximum="999"
                    Name="udDuration" [(Value)]="DataContext.FormViewerDetails.BasicDetails.Duration" Width="auto"
                    Margin="0,0,6,0" [IsEnabled]="DataContext.FormViewerDetails.BasicDetails.IsenableDuration"
                    IsTabStop="True" TabIndex="21"></iUpDownBox>
                </div>
              </kendo-gridlayout-item>

              <kendo-gridlayout-item [row]='1' [col]='2'>
                <div containerStyle>
                  <iComboBox #cboDurationTempRef IsEditable="True" Tooltip="Select a unit of measure"
                    [(ItemsSource)]="DataContext.FormViewerDetails.BasicDetails.DefaultDetails.Duration"
                    [(SelectedValue)]="DataContext.FormViewerDetails.BasicDetails.DurationUOM" IsTypeAHead="True"
                    IsTextSearchEnabled="True" HorizontalAlignment="Stretch" Name="cboDuration"
                    VerticalAlignment="Center" Height="21" Width="auto" [isGlobalEnabled]="IsEnabled" 
                    [IsEnabled]="DataContext.FormViewerDetails.BasicDetails.IsenableDuration" IsTabStop="True"
                    TabIndex="22"></iComboBox>
                </div>
              </kendo-gridlayout-item>

            </kendo-gridlayout>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='8' [col]='1'>
          <div containerStyle>
            <iLabel #lblMedicationClerkTempRef HorizontalAlignment="Stretch" Name="lblMedicationClerk"
              VerticalAlignment="Center" [Text]="resKey.lblMedicationClerk_Text" Mandatory="False"
              TextDecorations="underline" Cursor="Hand"  (MouseLeftButtonUp_Func)="lblMedicationClerk_MouseLeftButtonUp({},$event)"
              IsWordwrap="True"></iLabel>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='8' [col]='2'>
          <div containerStyle>
            <iLabel #lblMedicationClerkingTempRef class="showEllipsesClass" Name="lblMedicationClerking" Width="Auto"
                                    HorizontalAlignment="Left" VerticalAlignment="Center" Mandatory="False" Margin="5,5"
                                    [Tooltip]="DataContext.FormViewerDetails.BasicDetails.MedicationClerkingSource|MedClrkSrc : 0 :';M'"
                                    [Text]="DataContext.FormViewerDetails.BasicDetails.MedicationClerkingSource | MedClrkSrc : 0 :';M'">
                            </iLabel>
          </div>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [row]='10' [col]='1'>
          <div containerStyle>
            <iLabel #lblModCommentsTempRef HorizontalAlignment="Stretch" Name="lblModComments"
              [Visibility]="DataContext.IsReasonForModificationVisible" VerticalAlignment="Center" Mandatory="False"
              [Text]="resKey.lblModComments_Text"
              [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsenableModificationcomments" IsWordwrap="True">
            </iLabel>
          </div>
        </kendo-gridlayout-item>


        <kendo-gridlayout-item [row]='10' [col]='2'>
          <div containerStyle>
            <iTextBox #txtModCommentsTempRef [Visibility]="DataContext.IsReasonForModificationVisible"
              [Tooltip]="resKey.txtModComments_Tooltip" HorizontalAlignment="Stretch" AcceptsReturn="True"
              TextWrapping="Wrap" Name="txtModComments" VerticalAlignment="Bottom" VerticalScrollBarVisibility="Visible"
              Width="auto" Height="50" [(Text)]="DataContext.FormViewerDetails.BasicDetails.ModificationComments"
              Margin="5,5" [isGlobalEnabled]="IsEnabled"  [(IsEnabled)]="DataContext.FormViewerDetails.BasicDetails.IsenableModificationcomments"
              IsTabStop="True" TabIndex="24" MaxLength="255"></iTextBox>
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [row]='11' [col]='1'>
          <div containerStyle>
            <iLabel #lblVerificationCommentsTempRef HorizontalAlignment="Stretch" Name="lblVerificationComments"  [isGlobalEnabled]="IsEnabled"
              VerticalAlignment="Center" [Text]="resKey.lblVerificationComments_Text"
              [(Visibility)]="DataContext.FormViewerDetails.BasicDetails.IsVisibleClinicallyverify" IsWordwrap="True"
              [(Mandatory)]="DataContext.IsClinicallyVerifyCommentsMandatory"></iLabel>
          </div>
        </kendo-gridlayout-item>


        <kendo-gridlayout-item [row]='11' [col]='2'>
          <div containerStyle>
            <iTextBox #txtVerificationCommentsTempRef HorizontalAlignment="Stretch" AcceptsReturn="True"
              TextWrapping="Wrap" Margin="5,5" Name="txtVerificationComments"
              [Tooltip]="resKey.txtVerificationComments_Tooltip" VerticalAlignment="Center" Width="auto" Height="50"
              VerticalScrollBarVisibility="Visible"
              [(Text)]="DataContext.FormViewerDetails.BasicDetails.VerificationComments"
              [(Visibility)]="DataContext.FormViewerDetails.BasicDetails.IsVisibleClinicallyverify" IsTabStop="True"
              TabIndex="26" MaxLength="255"  [isGlobalEnabled]="IsEnabled"></iTextBox>
          </div>
        </kendo-gridlayout-item>

      </kendo-gridlayout>

    </kendo-gridlayout-item>

    <kendo-gridlayout-item [row]='2' [col]='1' [colSpan]="3" HorizontalAlignment="Stretch" VerticalAlignment="Top"
      Width="auto" Margin="0,10,0,0" Background="{StaticResource LzoPageBG}">
      <kendo-gridlayout GridLayout [cols]="[{width: '1fr'}]" [rows]="[{height: 'auto'}]" HorizontalAlignment="Stretch"
        VerticalAlignment="Top" width="auto" Margin="0,10,0,0" Background="Styles.LzoPageBG">
        <kendo-gridlayout-item GridLayout [row]='1' [colSpan]='5'>
          <div containerStyle>
            <Border GridLayout #brdSTATempRef Name="brdSTA" [iStyle]="Styles.BorderFrame" BorderThickness="1"
              CornerRadius="2" [Visibility]="DataContext.FormViewerDetails.BasicDetails.IscontentForModificationVisible"
              HorizontalAlignment="Stretch" Margin="0,20,0,0">
              <kendo-gridlayout GridLayout [rows]="[{height: '1fr'},{height: 'auto'}]">
                <kendo-gridlayout-item GridLayout [row]='1' [col]="1" style="width: fit-content;">
                  <StackPanel Margin="10,-10,0,0" Background="#E0EFF1FF" HorizontalAlignment="Left"
                    Orientation="Vertical">
                    <iLabel #lblBorderTempRef Name="lblBorder"
                      [Text]="DataContext.FormViewerDetails.BasicDetails.SteppedVariablePanelHeader" Padding="5,0,5,0"
                      Foreground="Black" FontWeight="Bold" Margin="2,0,2,0">
                    </iLabel>
                  </StackPanel>
                </kendo-gridlayout-item>
                <kendo-gridlayout-item GridLayout [row]="2" [col]="1">
                  <ng-container
                    *ngIf="ContentCtrlMedResolveStepped.Content && ContentCtrlMedResolveStepped.Content.constructor.name ==  'medipresolvestepped'">
                    <medipresolvestepped #MedIPResolveSteppedTempRef Name="MedIPResolveStepped"
                      [DataContext]="ContentCtrlMedResolveStepped.Content.DataContext" [ParentRef]="Ref">
                    </medipresolvestepped>
                  </ng-container>

                  <ng-container
                    *ngIf="ContentCtrlMedResolveStepped.Content && ContentCtrlMedResolveStepped.Content.constructor.name ==  'medConditionalDose'">
                    <medConditionalDose #medConditionalDoseTempRef [DataContext]="ContentCtrlMedResolveStepped.Content.DataContext">
                    </medConditionalDose>
                  </ng-container>
                  <div *ngIf="ContentCtrlMedResolveStepped.Content?.constructor?.name ==  'medresolvetitrated'">
                    <medresolvetitrated  [DataContext]="ContentCtrlMedResolveStepped.Content.DataContext"> </medresolvetitrated>
                </div>

                </kendo-gridlayout-item>

              </kendo-gridlayout>
            </Border>
          </div>
        </kendo-gridlayout-item>
      </kendo-gridlayout>
    </kendo-gridlayout-item>

  </kendo-gridlayout>
</ScrollViewer>
