.iLabel-Attr-TextAlignment-Left{
    text-align: left;
}

.iLabel-Attr-TextAlignment-Center{
    text-align: center;
}

.iLabel-Attr-TextAlignment-Right{
    text-align: right;
}

.iLabel-Attr-TextAlignment-Justify{
    text-align: justify;
}
kendo-label{
    font-family: Verdana;
    font-size: 10.667px;
    font-weight: normal;
    color:  "#FF000000";
    text-align: left;
    vertical-align: middle;
    white-space: pre-line;
}
:host::ng-deep.k-label-empty::before{
    content: "";
    display: inherit;
}

::ng-deep .wrap-tooltip {
    max-width: 250px !important;
    white-space: pre-line;
    display: grid;
  }