/* .k-grid-content {
    overflow-x: scroll !important;
  }
  .k-grid th{
    padding-left: 20px !important;
  } */
  
.textsize{
  font-size: 12px;
}
:host ::ng-deep .k-grid th{
  padding-left: 10px !important;
  };
  
  