<kendo-gridlayout Name="LayoutRoot" Background="#E0EFF1FF" Height="Auto" Width="Auto" Margin="5"
    [rows]="[{ height: 'auto'},{ height: 'auto'},{ height: 'auto'},{ height:5}]" [cols]="[{ width: 150},{ width: 250}]">
    <Border [row]='1' [col]='2' [Background]="Styles.InnerBG">
    </Border>
    <Border [row]='2' [col]='2' [Background]="Styles.InnerBG">
    </Border>
    <Border [row]='3' [col]='2' [Background]="Styles.InnerBG">
    </Border>
    <Border [row]='4' [col]='2' [Background]="Styles.InnerBG">
    </Border>
    <Border [row]='2' [col]='1' [colSpan]='2' [iStyle]="Styles.whiteBorder">
    </Border>
    <Border [row]='3' [col]='1' [colSpan]='2' [iStyle]="Styles.whiteBorder">
    </Border>
    <Border [row]='4' [col]='1' [colSpan]='2' [iStyle]="Styles.whiteBorder">
    </Border>
    <kendo-gridlayout-item [row]="1" [col]='1'>
        <div containerStyle>
            <iLabel #lblOnBehalfOfTempRef HorizontalAlignment="Stretch" Margin="5" Name="lblOnBehalfOf"
                VerticalAlignment="Center" Text="On behalf of" Height="21" Mandatory="True" Width="Auto"
                IsTabStop="False"></iLabel>
        </div>
    </kendo-gridlayout-item>
    <kendo-gridlayout-item [row]="1" [col]='2'>
      
        <div containerStyle>
            <iSFS #SFSOnBehalfOfTempRef Name="SFSOnBehalfOf" Height="21" Margin="5"  
                Width="Auto" 
                (OnSFSOpen)="SFSOnBehalfOf_SFSOpen_Func()" AllowDrop="True" SFSType="List"
                [ToolTip]="onbof.SFSOnBehalfOf_Tooltip" MaxSize="10" HorizontalAlignment="Stretch"
                [(SelectedText)]="PrescriberName"
                [(SelectedValue)]="PrescriberOID"></iSFS>
        </div>
    </kendo-gridlayout-item>
    <kendo-gridlayout-item [row]='2' [col]='1'>
        <div containerStyle>
            <iLabel #lblReasonTempRef HorizontalAlignment="Left" Margin="5" Height="21" Name="lblReason"
                VerticalAlignment="Top" [Text]="onbof.iLabel2_Text" Mandatory="False" IsTabStop="False">
            </iLabel>
        </div>
    </kendo-gridlayout-item>
    <kendo-gridlayout-item [row]='2' [col]='2'>
        <div containerStyle>
            <iComboBox #cboReasonTempRef Height="21" Margin="5"  Name="cboReason" Width="235"
                IsEditable="True" [Tooltip]="onbof.iLabel2_Text" HorizontalAlignment="Stretch"
                [(SelectedValue)]="OnBehalfOfReasonValue"
                [(Text)]="OnBehalfOfReason"></iComboBox>
        </div>
    </kendo-gridlayout-item>
    <kendo-gridlayout-item [row]='3' [col]='1'>
        <div containerStyle>
            <iLabel #lblCommunicationModeTempRef HorizontalAlignment="Left" Margin="5" Name="lblCommunicationMode"
                VerticalAlignment="Top" [Text]="onbof.iLabel3_Text" Mandatory="False" IsTabStop="False">
            </iLabel>
        </div>
    </kendo-gridlayout-item>
    <kendo-gridlayout-item [row]='3' [col]='2'>
        <div containerStyle>
            <iComboBox #cboCommunicationModeTempRef Height="21" Margin="5"  HorizontalAlignment="Stretch"
                Name="cboCommunicationMode" Width="235" IsEditable="True" [Tooltip]="onbof.iLabel3_Text"
                [(SelectedValue)]="CommunicationModeValue"
                [(Text)]="CommunicationMode">
            </iComboBox>
        </div>
    </kendo-gridlayout-item>

</kendo-gridlayout>