.grid-layout-container {
    /* Revisit Required */
    height: auto;
}
.div-bg-whiteborder {
    border-top: 2px solid white;
    background-color: #c2e2e3;
}
.div-bg {
    background-color: #c2e2e3;
}
.div-whiteborder {
    border-top: 2px solid white;
}
.div-dark-bg {
    height: 90px;
    background-color: #75B3B4;
}
.div-dialog-content {
    height: 663px;
    width: 442px;
    border: 1px solid #77b3b4;
    border-radius: 3px;
    padding: 10px;
    margin: -13px;
}

.pin::-ms-reveal,
.pin::-ms-clear {
  display: none;
}

.styleLabel {
    overflow: hidden;
    text-overflow: ellipsis; 
    padding: 5px;
} 

::ng-deep .styleLabel kendo-label {
    white-space: nowrap !important;
}

input.numeric-password {
    -webkit-text-security: disc;
}