.grid-layout-container {
    /* Revisit Required */
    height: auto;
}
.div-bg-whiteborder {
    border-top: 2px solid white;
    background-color: #c2e2e3;
}
.div-bg {
    background-color: #c2e2e3;
}
.div-whiteborder {
    border-top: 2px solid white;
}
@media screen and (min-device-width : 1400px) and (max-device-width: 1550px) {
    .div-dialog-content{
        height: 500px;
        width: 442px;
        border: 1px solid #77b3b4;
        border-radius: 3px;
        padding: 10px;
        margin: -13px;
    }
   }
@media screen and (max-width: 1450px) {
    .div-dialog-content {
        height: 406px;
        width: 442px;
        border: 1px solid #77b3b4;
        border-radius: 3px;
        padding: 10px;
        margin: -13px;
    }
  }  
  @media screen and (min-width: 1600px) {
    .div-dialog-content {
        height: 680px;
        width: 442px;
        border: 1px solid #77b3b4;
        border-radius: 3px;
        padding: 10px;
        margin: -13px;
    }
  }
.div-dialog-buttons {
    text-align: right;
    height: 15px;
    padding: 10px;
}
.div-radio-button {
    height: 20px !important; 
}
.div-med-action-parent {
    align-items: start !important;
}
.div-med-action {
    align-items: start;
    height: 50px !important; 
}
.div-dose-detail {
    align-items: start !important;
    height: 180px !important; 
}
.div-top-panel {
    align-items: start !important;
}
.div-dose-uom {
    align-items: normal !important;
    display: grid;
    height: 100%;
}
.div-critical-msg {
    border: 2px solid #800000;
    border-radius: 2px;
    background-color: white;
    margin: 0px;
}
.div-critical-drug-site-url {
    background-color: white;
}
.div-critical-msg-blank-line {
    height: 20px !important;
}