<div name="LayoutRoot">
    <kendo-gridlayout class="grid-layout-container" GridLayout [cols]="[ { width: '100fr'}]">
        <kendo-gridlayout-item [row]="1" [col]="1" HorizontalAlignment="Stretch" Height="85">
            <div containerStyle>
                <ScrollViewer #brdHeaderTempRef Name="brdHeader" VerticalScrollBarVisibility="Auto" Margin="5"
                    BorderBrush="#77b3b4" Margin="0" BorderThickness="1" Width="1070" Height="80" Background="white">
                    <kendo-gridlayout class="grid-layout-container" GridLayout
                        [cols]="[{ width: '15fr'}, { width: '85fr'}]" [rows]="[{ height: '50fr'}, { height: '50fr'}]" Margin="5">
                        <kendo-gridlayout-item [row]="1" [col]="1">
                            <iLabel #lblProductScannedhdrTempRef Name="lblProductScannedhdr"
                                HorizontalAlignment="Stretch" IsWordwrap="True" 
                                [Text]="GetResourceString('ProductScannedhdr_Text')" Margin="5,5" FontWeight="Bold">
                            </iLabel>
                        </kendo-gridlayout-item>
                        <kendo-gridlayout-item [row]="1" [col]="2">
                            <iLabel #lblProductScannedhdrValueTempRef Name="lblProductScannedhdrValue" IsWordwrap="True"
                                HorizontalAlignment="Stretch" Margin="0,5"
                                [(Text)]="DataContext.ProductScannedhdrValue" FontWeight="Bold" Foreground="#006dec"
                                Height="21" [Tooltip]="GetResourceString('ProductScannedhdrValue')">
                            </iLabel>
                        </kendo-gridlayout-item>
                        <kendo-gridlayout-item [row]="2" [col]="1">
                            <iLabel #lblMedicationprescribedTempRef Name="lblMedicationprescribed"
                                HorizontalAlignment="Stretch"
                                [Text]="GetResourceString('Medicationprescribed_text')" Margin="5,5"
                                FontWeight="Bold">
                            </iLabel>
                        </kendo-gridlayout-item>
                        <kendo-gridlayout-item [row]="2" [col]="2">
                            <ContentPresenter class="fontClass" [Content]="DataContext | MedScanProdDisplayPrescribedItem:'':'0'" Margin="0,5">
                            </ContentPresenter>
                        </kendo-gridlayout-item>
                    </kendo-gridlayout>
                </ScrollViewer>
            </div>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [row]="2" [col]="1" HorizontalAlignment="Stretch" Margin="5,0,5,0" Height="85">
            <div containerStyle>
                <StackPanel Orientation="Horizontal" HorizontalAlignment="Right" VerticalAlignment="Center" Margin="5">
                    <kendo-gridlayout class="grid-layout-container" GridLayout [cols]="[ {width: '50fr'}, {width: '50fr'}]">
                        <kendo-gridlayout-item [row]="1" [col]="1">
                            <iButton #cmdAddTempRef Name="cmdAdd" [Text]="GetResourceString('cmdAdd_Text')" TabIndex="14"
                                AccessKey="A" HorizontalAlignment="Right" Width="80" Height="21"
                                ImageSource="./assets/Images/iNewAdd.png" DisabledImageSource="./assets/Images/iNewAddDis.png"
                                ActiveImageSource="./assets/Images/iNewAddHot.png" (Click_Func)="cmdAdd_Click($event)"
                                [Tooltip]="GetResourceString('cmdAdd_tooltip')" [(Visibility)]="DataContext.IsbtnAddVisible"
                                [IsEnabled]="true">
                            </iButton>
                        </kendo-gridlayout-item>
                        <kendo-gridlayout-item [row]="1" [col]="2">
                            <iButton #cmdRemoveTempRef Name="cmdRemove" [Text]="GetResourceString('cmdRemove_Text')"
                                TabIndex="16" AccessKey="m" HorizontalAlignment="Right" 
                                (Click_Func)="cmdRemove_Click($event)" Height="21" Width="80"
                                ImageSource="./assets/Images/iNewDelete.png"
                                DisabledImageSource="./assets/Images/iNewDeleteDis.png"
                                ActiveImageSource="./assets/Images/iNewDeleteHot.png"
                                [Tooltip]="GetResourceString('cmdRemove_tooltip')"
                                [(IsEnabled)]="DataContext.IsDisEnableRemovebtn" [(Visibility)]="DataContext.IsbtnRmvVisible">
                            </iButton>
                        </kendo-gridlayout-item>
                    </kendo-gridlayout>
                </StackPanel>
            </div>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [row]="3" [col]="1" HorizontalAlignment="Stretch">
            <div containerStyle>
                <kendo-grid #grdProductDetailListTempRef Name="grdProductDetailList" [selectable]="true"
                    [data]="grdProductDetailList.ItemsSource.array" [style.background]="'#E0EFF1'"
                    [reorderable]="true" [sortable]="true" [height]="180"
                    (selectionChange)="grdProductDetailList.selectionChange($event)"
                    (RowLoaded)="grdProductDetailList_RowLoaded($event)"
                    kendoGridSelectBy
                    [(selectedKeys)]="grdProductDetailList.selectedRowsIndex">
                    <ng-template kendoGridNoRecordsTemplate>
                        No records to show
                    </ng-template>
                    <kendo-grid-column *ngIf="grdProductDetailList.RowIndicatorVisibility == 0 ? true : false"
                        class="HorizontalTextAlignCenter" title="" field="rowindicator" [width]="40">
                        <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
                            <Image *ngIf="grdProductDetailList.selectedRowsIndex.length > 0 ? grdProductDetailList.selectedRowsIndex == rowIndex : false" 
                                Source="./assets/images/iarrownor5x10.png">
                            </Image>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="Productscanned" [title]="GetResourceString('ProductsScanned_Header')"  class="prodSacn">
                        <ng-template kendoGridHeaderTemplate>
                            <span kendoTooltip [title]="GetResourceString('ProductsScanned_Header')">{{GetResourceString('ProductsScanned_Header')}}</span>
                        </ng-template>
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex"
                            let-columnIndex="columnIndex">
                            <DataTemplate #temp [dataItem]="dataItem" [index]="rowIndex" [colindex]="columnIndex">
                                <GridCellTemplate [columnNumber]="1" [cell]="'cell1'" [dataItem]="dataItem">
                                    <iLabel Margin="2,1" class="gridScan" [(Text)]="dataItem.Productscanned"
                                        HorizontalAlignment="Left" VerticalAlignment="Center"
                                        Height="25" [Background]="ProdScanBackColor" Width="152">
                                    </iLabel>
                                </GridCellTemplate>
                            </DataTemplate>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="ProductCode" [title]="GetResourceString('ProductCode_Header')" class="productcode">
                        <ng-template kendoGridHeaderTemplate>
                            <span kendoTooltip [title]="GetResourceString('ProductCode_Header')">{{GetResourceString('ProductCode_Header')}}</span>
                        </ng-template>
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex"
                            let-columnIndex="columnIndex">
                            <DataTemplate #temp [dataItem]="dataItem" [index]="rowIndex" [colindex]="columnIndex" [gridHelper]="grdProductDetailList">
                                <GridCellTemplate  [columnNumber]="2" [cell]="'cell2'" [dataItem]="dataItem" [isEditable]="true" [EditableControlRef]="txtProductCodeTempRef" [IsEnabled]="!grdProductDetailList.IsReadOnly"
                                (emitEditableClick)="RowSelectionChanged($event)" [RowIndex]="rowIndex" [GridHelper]="grdProductDetailList">
                                    <iLabel Margin="5,2" [(Text)]="dataItem.Productcode" class="gridCell"
                                        HorizontalAlignment="Left" VerticalAlignment="Center" IsWordwrap="True">
                                    </iLabel>
                                </GridCellTemplate>
                                <GridCellEditTemplate [cell]="'cell2'" [dataItem]="dataItem">
                                    <iTextBox #txtProductCodeTempRef Name="txtProductCode" Width="150" [DataContext]="dataItem"
                                        HorizontalAlignment="Left" VerticalAlignment="Center" MaxLength="50" Minimum="0"
                                        [(Text)]="dataItem.Productcode" ColumnCellIndex="cell2"
                                        [IsEnabled]="dataItem.IsProductEnabled"
                                        [ToolTip]="GetResourceString('ProductCode_Tooltip')">
                                    </iTextBox>
                                </GridCellEditTemplate>
                            </DataTemplate>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="ExpiryDate" [title]="GetResourceString('ExpiryDate_Header')"  class="productcode">
                        <ng-template kendoGridHeaderTemplate>
                            <span kendoTooltip [title]="GetResourceString('ExpiryDate_Header')">{{GetResourceString('ExpiryDate_Header')}}</span>
                        </ng-template>
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex"
                            let-columnIndex="columnIndex">
                            <DataTemplate #temp [dataItem]="dataItem" [index]="rowIndex" [colindex]="columnIndex" [gridHelper]="grdProductDetailList">
                                <GridCellTemplate  [columnNumber]="3" [cell]="'cell3'" [dataItem]="dataItem"
                                (emitEditableClick)="RowSelectionChanged($event)" [RowIndex]="rowIndex" [GridHelper]="grdProductDetailList">
                                    <iDateTimePicker HorizontalAlignment="Left" Width="120" [DataContext]="dataItem"
                                    DatePickerMode="DATEPICKER" Name="dtproExpiryDate" Height="21" Margin="0,0,0,0"
                                    DateTimeFormat="Custom" CustomFormat="dd-MMM-yyyy" EnableCultureSupport="False"
                                    IsTabStop="True" TabIndex="4" ColumnCellIndex="cell3"
                                    [(SelectedDateTime)]="dataItem.Expirydate"
                                    [ToolTip]="GetResourceString('ExpiryDate_Tooltip')"
                                    [(IsEnabled)]="!grdProductDetailList.IsReadOnly"
                                    [OnBlurChange]="dtpExpiryDate_OnDateValueChanged_Func"
                                    AccessKey="t">
                                </iDateTimePicker>
                                </GridCellTemplate>
                            </DataTemplate>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="BatchNumber" [title]="GetResourceString('BatchNumber_Header')"  class="productcode">
                        <ng-template kendoGridHeaderTemplate>
                            <span kendoTooltip [title]="GetResourceString('BatchNumber_Header')">{{GetResourceString('BatchNumber_Header')}}</span>
                        </ng-template>
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex"
                            let-columnIndex="columnIndex">
                            <DataTemplate #temp [dataItem]="dataItem" [index]="rowIndex" [colindex]="columnIndex" [gridHelper]="grdProductDetailList">
                                <GridCellTemplate  [columnNumber]="4" [cell]="'cell4'" [dataItem]="dataItem" [isEditable]="true" [EditableControlRef]="txtBatchNumberTempRef" [IsEnabled]="!grdProductDetailList.IsReadOnly"
                                (emitEditableClick)="RowSelectionChanged($event)" [RowIndex]="rowIndex" [GridHelper]="grdProductDetailList">
                                    <iLabel Margin="5,2" [(Text)]="dataItem.Batchnumber" class="gridCell"
                                        HorizontalAlignment="Left" VerticalAlignment="Center" IsWordwrap="True">
                                    </iLabel>
                                </GridCellTemplate>
                                <GridCellEditTemplate [cell]="'cell4'" [dataItem]="dataItem">
                                    <iTextBox #txtBatchNumberTempRef Name="txtBatchNumber" Width="150" ColumnCellIndex="cell4"
                                        HorizontalAlignment="Left" VerticalAlignment="Center" Margin="0,0,0,0"
                                        MaxLength="50" Minimum="0" [(Text)]="dataItem.Batchnumber" 
                                        [IsEnabled]="dataItem.IsBatchNumberEnabled" [DataContext]="dataItem"
                                        [ToolTip]="GetResourceString('BatchNumber_Tooltip')">
                                    </iTextBox>
                                </GridCellEditTemplate>
                            </DataTemplate>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="SerialNumber" [title]="GetResourceString('SerialNumber_Header')"  class="productcode">
                        <ng-template kendoGridHeaderTemplate>
                            <span kendoTooltip [title]="GetResourceString('SerialNumber_Header')">{{GetResourceString('SerialNumber_Header')}}</span>
                        </ng-template>
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex"
                            let-columnIndex="columnIndex">
                            <DataTemplate #temp [dataItem]="dataItem" [index]="rowIndex" [colindex]="columnIndex" [gridHelper]="grdProductDetailList">
                                <GridCellTemplate  [columnNumber]="5" [cell]="'cell5'" [dataItem]="dataItem" [isEditable]="true" [EditableControlRef]="txtSerialNumberTempRef" [IsEnabled]="!grdProductDetailList.IsReadOnly"
                                (emitEditableClick)="RowSelectionChanged($event)" [RowIndex]="rowIndex" [GridHelper]="grdProductDetailList">
                                    <iLabel Margin="5,2" [(Text)]="dataItem.Serialnumber" class="gridCell"
                                        HorizontalAlignment="Left" VerticalAlignment="Center" IsWordwrap="True">
                                    </iLabel>
                                </GridCellTemplate>
                                <GridCellEditTemplate [cell]="'cell5'" [dataItem]="dataItem">
                                    <iTextBox #txtSerialNumberTempRef Name="txtSerialNumber" Width="125" ColumnCellIndex="cell5"
                                        HorizontalAlignment="Left" VerticalAlignment="Center" Margin="0,0,0,0"
                                        MaxLength="50" Minimum="0" [(Text)]="dataItem.Serialnumber"
                                        [IsEnabled]="dataItem.IsSerialNumberEnabled" [DataContext]="dataItem"
                                        [ToolTip]="GetResourceString('SerialNumber_Tooltip')" >
                                    </iTextBox>
                                </GridCellEditTemplate>
                            </DataTemplate>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="Comments" [title]="GetResourceString('Comments_Header')"  class="productcode">
                        <ng-template kendoGridHeaderTemplate>
                            <span kendoTooltip [title]="GetResourceString('Comments_Header')">{{GetResourceString('Comments_Header')}}</span>
                        </ng-template>
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex"
                            let-columnIndex="columnIndex">
                            <DataTemplate #temp [dataItem]="dataItem" [index]="rowIndex" [colindex]="columnIndex" [gridHelper]="grdProductDetailList">
                                <GridCellTemplate  [columnNumber]="6" [cell]="'cell6'" [dataItem]="dataItem" [isEditable]="true" [EditableControlRef]="txtCommentsTempRef" [IsEnabled]="!grdProductDetailList.IsReadOnly"
                                (emitEditableClick)="RowSelectionChanged($event)" [RowIndex]="rowIndex" [GridHelper]="grdProductDetailList">
                                    <iLabel Margin="5,2" [(Text)]="dataItem.Comments" class="gridCell"
                                        HorizontalAlignment="Left" VerticalAlignment="Center" IsWordwrap="True">
                                    </iLabel>
                                </GridCellTemplate>
                                <GridCellEditTemplate [cell]="'cell6'" [dataItem]="dataItem">
                                    <iTextBox #txtCommentsTempRef Name="txtComments" Width="195" ColumnCellIndex="cell6"
                                        HorizontalAlignment="Left" VerticalAlignment="Center" Margin="0,0,0,0"
                                        MaxLength="255" Minimum="0" [(Text)]="dataItem.Comments" [DataContext]="dataItem"
                                        [ToolTip]="GetResourceString('Comments_ToolTip')">
                                    </iTextBox>
                                </GridCellEditTemplate>
                            </DataTemplate>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="UniqueID" title="UniqueID" [hidden]="true">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex"
                            let-columnIndex="columnIndex">
                            <DataTemplate #temp [dataItem]="dataItem" [index]="rowIndex" [colindex]="columnIndex">
                                <GridCellTemplate  [columnNumber]="7" [cell]="'cell7'" [dataItem]="dataItem" [isEditable]="true" [IsEnabled]="!grdProductDetailList.IsReadOnly">
                                    <iLabel Margin="5,2" [(Text)]="dataItem.UniqueID"
                                        HorizontalAlignment="Left" VerticalAlignment="Center" IsWordwrap="True">
                                    </iLabel>
                                </GridCellTemplate>
                                <GridCellEditTemplate [cell]="'cell7'" [dataItem]="dataItem">
                                    <iTextBox Name="UniqueID" Width="90" [DataContext]="dataItem"
                                        HorizontalAlignment="Left" VerticalAlignment="Center" MaxLength="250" ColumnCellIndex="cell7"
                                        Minimum="0" [(Text)]="dataItem.UniqueID">
                                    </iTextBox>
                                </GridCellEditTemplate>
                            </DataTemplate>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="IsAllowOverideExpiryDTTM" title="IsAllowOverideExpiryDTTM" [hidden]="true">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex"
                            let-columnIndex="columnIndex">
                            <DataTemplate #temp [dataItem]="dataItem" [index]="rowIndex" [colindex]="columnIndex">
                                <GridCellTemplate  [columnNumber]="8" [cell]="'cell8'" [dataItem]="dataItem" [isEditable]="true" [IsEnabled]="!grdProductDetailList.IsReadOnly">
                                    <iLabel Margin="5,2" [(Text)]="dataItem.IsAllowOverideExpiryDTTM"
                                        HorizontalAlignment="Left" VerticalAlignment="Center" IsWordwrap="True">
                                    </iLabel>
                                </GridCellTemplate>
                                <GridCellEditTemplate [cell]="'cell8'" [dataItem]="dataItem">
                                    <iTextBox Name="IsAllowOverideExpiryDTTM" Width="90" [DataContext]="dataItem"
                                        HorizontalAlignment="Left" VerticalAlignment="Center" MaxLength="250" ColumnCellIndex="cell8"
                                        Minimum="0" [(Text)]="dataItem.IsAllowOverideExpiryDTTM">
                                    </iTextBox>
                                </GridCellEditTemplate>
                            </DataTemplate>
                        </ng-template>
                    </kendo-grid-column>
                    <ng-container>

                    </ng-container>
                </kendo-grid>
            </div>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [row]="4" [col]="1" HorizontalAlignment="Stretch" Margin="5,0,5,0" Height="85">
            <div containerStyle>

            </div>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [row]="5" [col]="1" HorizontalAlignment="Stretch" Margin="5,0,5,0" Height="75">
            <kendo-gridlayout class="grid-layout-container" GridLayout [cols]="[ { width: '22fr'}, { width: '88fr'} ]"
                Margin="5">
                <kendo-gridlayout-item [row]="1" [col]="1" HorizontalAlignment="Stretch" Height="85">
                    <div containerStyle>
                        <iLabel #lblTotalDoseAdministeredTempRef Name="lblTotalDoseAdministered"
                            HorizontalAlignment="Stretch" IsWordwrap="True" VerticalAlignment="Center"
                            [Text]="GetResourceString('TotalDoseAdministered_Text')"
                            [Visibility]="DataContext.IsVisibleTotalDoseValueAdmin" Height="21" FontWeight="Bold">
                        </iLabel>
                    </div>
                </kendo-gridlayout-item>
                <kendo-gridlayout-item [row]="1" [col]="2" HorizontalAlignment="Stretch" Height="85">
                    <div containerStyle>
                        <StackPanel Orientation="Horizontal" Width="auto" Height="auto" [Visibility]="DataContext.IsVisibleTotalDoseValueAdmin"
                            HorizontalAlignment="Stretch" VerticalAlignment="Center">
                            <kendo-gridlayout class="grid-layout-container" GridLayout [cols]="[ { width: '1fr'}, { width: '1fr'} ]" style="width: 200px;">
                                <kendo-gridlayout-item [row]="1" [col]="1" HorizontalAlignment="Stretch" Height="85">
                                    <div containerStyle>
                                    <iTextBox #txtTotalDoseValueAdminTempRef Name="txtTotalDoseValueAdmin" Type="Numeric" IsTabStop="True"
                                        MaxLength="7" Scale="7" Precision="3" Height="21" Margin="5,5,5,5"
                                        [(Text)]="DataContext.TotaldoseadministeredAmt" Width="90"
                                        [Tooltip]="GetResourceString('TotalDoseAdministered_Tooltip')"
                                        [(IsEnabled)]="DataContext.IsEnableTotalDoseValueAdmin">
                                    </iTextBox>
                                    </div>
                                </kendo-gridlayout-item>
                                <kendo-gridlayout-item [row]="1" [col]="2" HorizontalAlignment="Stretch" Height="85">
                                    <div containerStyle>
                                    <iLabel #lblTotalDoseUOMTempRef Name="lblTotalDoseUOM" IsWordwrap="True" Width="Auto" Height="21"
                                        Margin="3,5,5,3" [(Text)]="DataContext.TotaldoseUOM" [(Tooltip)]="DataContext.TotaldoseUOM">
                                    </iLabel>
                                    </div>
                                </kendo-gridlayout-item>
                            </kendo-gridlayout>
                        </StackPanel>
                    </div>
                </kendo-gridlayout-item>
                <kendo-gridlayout-item [row]="2" [col]="1" HorizontalAlignment="Stretch" Height="85">
                    <div containerStyle>
                        <iButton #cmdEnableBarCodeTempRef Height="21" Cursor="Hand" Width="auto"
                            HorizontalAlignment="Left" Name="cmdEnableBarCode" VerticalAlignment="Center"
                            ImageSource="./assets/Images/Barcode_HOT.png"
                            DisabledImageSource="./assets/Images/Barcode_DIS.png"
                            ActiveImageSource="./assets/Images/Barcode_HOT.png"
                            (Click_Func)="cmdEnableBarCode_Click($event)" Margin="0,0,0,0"
                            [(Visibility)]="DataContext.IsScanEnabledVis" Text="Scan enabled" IsEnabled="True">
                        </iButton>
                    </div>
                </kendo-gridlayout-item>
                <kendo-gridlayout-item [row]="2" [col]="2" HorizontalAlignment="Stretch" Height="85">
                    <div containerStyle>
                        <iTextBox #txtMedBarcodeTempRef Name="txtMedBarcode" (GotFocus_Func)="txtMedBarcode_GotFocus($event)"
                            (LostFocus_Func)="txtMedBarcode_LostFocus($event)" (keyup)="txtMedBarcode_KeyDown($event)"
                            Width="150" MinWidth="40" Height="21" Margin="5,0,650,0" HorizontalAlignment="Left"
                            IsTabStop="True" TabIndex="0" [(Visibility)]="DataContext.IstxtBarcodeVis">
                        </iTextBox>
                    </div>
                </kendo-gridlayout-item>
            </kendo-gridlayout>
        </kendo-gridlayout-item>
    </kendo-gridlayout>
</div>