:host ::ng-deep .k-grid .k-grid-content td{
    padding: 5px !important;
}
@media screen and (max-device-width: 1400px) {
    .medhistory{
      position: absolute;
      height: 400px;
    }
    .medhistyGrid{
        height: 190px;
        width : 580px
      }
    .changeAttributegrid{
        height: 160px;
        width: 562px;
    }
  }
  @media screen and (min-device-width: 1500px) {
    .medhistyGrid{
        height: 204px;
        width : 593px
      }
      .changeAttributegrid{
        height: 195px;
        width: 560px;
    }
    .adminslothistry{
      height: 233px !important;
    }
  }