.brandClearRow{
    text-align: right;
}
.BrandBtnAlignment{
    margin-top: -12px;
}



.borders ::ng-deep kendo-label {
    border: none !important;
  }
  .SupplyInscroll
  {
    overflow: auto; line-height: 1.5;
  }
  .SupplyVis
  {
      display:none;
  }

  ::ng-deep.k-input {
    font-size: 11px;
    color: #000000;
    width: -webkit-fill-available !important;

}